* {
    padding: 0px;
    margin: 0px;
}

.body {
    background: url('../images/bg.jpg') no-repeat center center/cover;
    min-height: 100vh;
    background-size: 106vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

#board {
    background: linear-gradient(rgb(159, 196, 159), rgb(192, 192, 121));
    width: 90vmin;
    height: 92vmin;
    left: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background-color: red;
    border-radius: 14px;
    border: .25vmin solid black;
    transform: scale(1.04);
}

.snake {
    background-color: purple;
    border: .23vmin solid white;
    border-radius: 18px;
}

.food {
    background: linear-gradient(red, yellow);
    border: .25vmin solid black;
    border-radius: 14px;
}

#scoreBox {
    position: absolute;
    top: 10px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px greenyellow;
}

#hiscoreBox {
    position: absolute;
    top: 53px;
    right: 164px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px greenyellow;
}